form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input, select {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border: 2px solid #1a1515;
  border-radius: 4px;
  box-sizing: border-box;
}

input:required, select:required {
  border-color: #279e66;
}

button {
  grid-column: span 2;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #218058;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

fieldset {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

legend {
  font-weight: bold;
  padding: 0 0.5rem;
}

.spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    margin-left: 8px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.header-container {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 20px;
}
.header-container h1 {
      font-size: 2em;
      margin-bottom: 10px;
}

.header-container p {
      font-size: 1.2em;
      color: #3a662f;
}

